In [56]:
import pymongo
import os
from importlib import reload
import numpy as np
import datetime
import pandas as pd
import src.notebooks.plotting as lib 

port = 27017
# todo: is there a way to keep the username and password out and use pycharm DB storage?
client = pymongo.MongoClient(f"mongodb://{os.getenv('MONGO_USER')}:{os.getenv('MONGO_PWD')}@localhost:{port}/gtfs?authSource=gtfs")
#client = pymongo.MongoClient(f"mongodb://localhost:27017/gtfs")
db = client.gtfs
start = datetime.datetime(2020, 1, 15, 0, 0, 0) 
end = start + datetime.timedelta(weeks=5)
db.routes.find_one()

{'_id': ObjectId('5eced3dc6789ddbbc6d24f07'),
 'name': '1',
 'direction': 'NORTH',
 'stop_names': ['South Ferry',
  'Rector St',
  'WTC Cortlandt',
  'Chambers St',
  'Franklin St',
  'Canal St',
  'Houston St',
  'Christopher St - Sheridan Sq',
  '14 St',
  '18 St',
  '23 St',
  '28 St',
  '34 St - Penn Station',
  'Times Sq - 42 St',
  '50 St',
  '59 St - Columbus Circle',
  '66 St - Lincoln Center',
  '72 St',
  '79 St',
  '86 St',
  '96 St',
  '103 St',
  'Cathedral Pkwy',
  '116 St - Columbia University',
  '125 St',
  '137 St - City College',
  '145 St',
  '157 St',
  '168 St - Washington Hts',
  '181 St',
  '191 St',
  'Dyckman St',
  '207 St',
  '215 St',
  'Marble Hill - 225 St',
  '231 St',
  '238 St',
  'Van Cortlandt Park - 242 St']}

In [15]:
route_1 = db.routes.find_one({'name':'1', 'direction': 'NORTH'})['stop_names']
route_1

['South Ferry',
 'Rector St',
 'WTC Cortlandt',
 'Chambers St',
 'Franklin St',
 'Canal St',
 'Houston St',
 'Christopher St - Sheridan Sq',
 '14 St',
 '18 St',
 '23 St',
 '28 St',
 '34 St - Penn Station',
 'Times Sq - 42 St',
 '50 St',
 '59 St - Columbus Circle',
 '66 St - Lincoln Center',
 '72 St',
 '79 St',
 '86 St',
 '96 St',
 '103 St',
 'Cathedral Pkwy',
 '116 St - Columbia University',
 '125 St',
 '137 St - City College',
 '145 St',
 '157 St',
 '168 St - Washington Hts',
 '181 St',
 '191 St',
 'Dyckman St',
 '207 St',
 '215 St',
 'Marble Hill - 225 St',
 '231 St',
 '238 St',
 'Van Cortlandt Park - 242 St']

In [67]:
results = db.cleaned_gtfs.find({
   "direction": "NORTH",
   "route": "1"
},
projection={"timestamp": True, "_id": True, "trip_id": True, "stop_name": True, 
            "trip_number": True})\
.sort([('stop_name', pymongo.ASCENDING), ('timestamp', pymongo.ASCENDING), ('trip_id', pymongo.ASCENDING)])\
.limit(30)
pd.DataFrame(list(results))

,_id,timestamp,stop_name,trip_id,trip_number
0,5ec830b7f529ba6a60b2d197,2020-01-09 16:13:55,103 St,100200_1..N03R,0
1,5ec830b7f529ba6a60b2d247,2020-01-09 16:14:31,103 St,100200_1..N03R,0
2,5ec830b7f529ba6a60b2d2f8,2020-01-09 16:14:36,103 St,100200_1..N03R,0
3,5ec832b5f529ba6a60c015c7,2020-01-09 16:20:33,103 St,100700_1..N03R,1
4,5ec832eaf529ba6a60c17c6f,2020-01-09 16:21:05,103 St,100700_1..N03R,1
5,5ec83350f529ba6a60c41e16,2020-01-09 16:21:19,103 St,100700_1..N03R,1
6,5ec83439f529ba6a60ca39ee,2020-01-09 16:23:02,103 St,101200_1..N03R,2
7,5ec83464f529ba6a60cb5db9,2020-01-09 16:23:33,103 St,101200_1..N03R,2
8,5ec83498f529ba6a60ccc1ad,2020-01-09 16:23:46,103 St,101200_1..N03R,2
9,5ec8357ff529ba6a60d2d45b,2020-01-09 16:31:19,103 St,101600_1..N03R,3
10,5ec83582f529ba6a60d2e8c3,2020-01-09 16:31:50,103 St,101600_1..N03R,3
11,5ec83586f529ba6a60d2fce0,2020-01-09 16:32:00,103 St,101600_1..N03R,3
12,5ec83592f529ba6a60d349c6,2020-01-09 16:33:44,103 St,102000_1..N03R,4
13,5ec83597f529ba6a60d36f08,2020-01-09 16:34:18,103 St,102000_1..N03R,4
14,5ec8359df529ba6a60d39626,2020-01-09 16:34:26,103 St,102000_1..N03R,4
15,5ec835aef529ba6a60d40c11,2020-01-09 16:36:08,103 St,102400_1..N03R,5
16,5ec835b4f529ba6a60d43318,2020-01-09 16:36:49,103 St,102400_1..N03R,5
17,5ec835f0f529ba6a60d5acc6,2020-01-09 16:41:44,103 St,102800_1..N03R,6
18,5ec835f5f529ba6a60d5cce3,2020-01-09 16:42:17,103 St,102800_1..N03R,6
19,5ec835f9f529ba6a60d5ea2f,2020-01-09 16:42:27,103 St,102800_1..N03R,6
20,5ec835fef529ba6a60d604bd,2020-01-09 16:43:33,103 St,103200_1..N03R,7
21,5ec83602f529ba6a60d61bd3,2020-01-09 16:44:03,103 St,103200_1..N03R,7
22,5ec83605f529ba6a60d62f19,2020-01-09 16:44:19,103 St,103200_1..N03R,7
23,5ec83626f529ba6a60d70981,2020-01-09 16:49:32,103 St,103600_1..N03R,8
24,5ec8362bf529ba6a60d72cdf,2020-01-09 16:50:03,103 St,103600_1..N03R,8
25,5ec83630f529ba6a60d75141,2020-01-09 16:50:16,103 St,103600_1..N03R,8
26,5ec83667f529ba6a60d8c4f4,2020-01-09 16:56:03,103 St,104000_1..N03R,9
27,5ec8366af529ba6a60d8dd78,2020-01-09 16:56:35,103 St,104000_1..N03R,9
28,5ec8366ef529ba6a60d8f24b,2020-01-09 16:56:47,103 St,104000_1..N03R,9
29,5ec8367bf529ba6a60d94d7f,2020-01-09 16:59:41,103 St,104400_1..N03R,10

In [22]:
# to assign trip number: step through results and increment every time date or trip id changes.
# I wonder how I would do this in sql?
# second pass is to make new trips collection 
# where we have one list for every trip number.
# for data analysis, nosql kind of a bad choice from a logistics point of view

             timestamp                     stop_name            trip_id
0  2006-06-03 16:33:14                        231 St  121400_1..N02X002
1  2020-01-09 16:10:48                         14 St     102000_1..N03R
2  2020-01-09 16:11:18        66 St - Lincoln Center     100700_1..N03R
3  2020-01-09 16:11:45          Marble Hill - 225 St     097700_1..N03R
4  2020-01-09 16:11:49                         23 St     101600_1..N03R
5  2020-01-09 16:12:03                         96 St     100200_1..N03R
6  2020-01-09 16:12:07                        157 St     099200_1..N03R
7  2020-01-09 16:12:08                   Chambers St     102800_1..N03R
8  2020-01-09 16:12:09                         50 St     101200_1..N03R
9  2020-01-09 16:12:11  Christopher St - Sheridan Sq     102400_1..N03R
10 2020-01-09 16:12:11                     Rector St     103200_1..N03R
11 2020-01-09 16:12:14                        125 St     099700_1..N03R
12 2020-01-09 16:12:15                        181 St     098700_1..N03R
13 2020-01-09 16:12:18                        215 St     098200_1..N03R
14 2020-01-09 16:12:32  Christopher St - Sheridan Sq     102400_1..N03R
15 2020-01-09 16:12:41                        215 St     098200_1..N03R
16 2020-01-09 16:12:41                         28 St     101600_1..N03R
17 2020-01-09 16:12:44                        231 St     097700_1..N03R
18 2020-01-09 16:12:45                        181 St     098700_1..N03R
19 2020-01-09 16:12:45                        125 St     099700_1..N03R
20 2020-01-09 16:12:47                         96 St     100200_1..N03R
21 2020-01-09 16:12:48                        157 St     099200_1..N03R
22 2020-01-09 16:12:50                     Rector St     103200_1..N03R
23 2020-01-09 16:12:56                        125 St     099700_1..N03R
24 2020-01-09 16:13:03                     Rector St     103200_1..N03R
25 2020-01-09 16:13:05                         28 St     101600_1..N03R
26 2020-01-09 16:13:12                        157 St     099200_1..N03R
27 2020-01-09 16:13:13                        181 St     098700_1..N03R
28 2020-01-09 16:13:14                        231 St     097700_1..N03R
29 2020-01-09 16:13:31       59 St - Columbus Circle     101200_1..N03R

In [40]:
obj = next(results)

In [44]:
db.cleaned_gtfs.update_one({'_id': obj['_id']}, {"$set": {"trip_number": 0}})

{'_id': ObjectId('5ec830b7f529ba6a60b2d247'),
 'direction': 'NORTH',
 'train_id': '01 1642  SFT/242',
 'status': 'INCOMING_AT',
 'timestamp': datetime.datetime(2020, 1, 9, 16, 14, 31),
 'stop_name': '103 St',
 'trip_id': '100200_1..N03R',
 'route': '1',
 'trip_number': 0}

In [61]:
one = db.cleaned_gtfs.find_one({'_id': obj['_id']})
datetime.date(one['timestamp'].year, one['timestamp'].month, one['timestamp'].day) == datetime.date(2020, 1, 9)

True

In [66]:
# link each step in the trip to the start (South Ferry) by
# adding 'start_date' to the event. This is the date of the initial South Ferry departure.
results.rewind()
# only the trip ID and date *together* make a unique key.
cur_trip_id = None
cur_trip_date = None
cur_stop_name = None
trip_number = 0 
for event in results:
    t = event['timestamp']
    if datetime.date(t.year, t.month, t.day) != cur_trip_date or event['trip_id'] != cur_trip_id:
        cur_trip_date = datetime.date(t.year, t.month, t.day)
        cur_trip_id = event['trip_id']
        trip_number += 1 
        
    if event['stop_name'] != cur_stop_name:
        cur_stop_name = event['stop_name']
        trip_number = 0  
    
    db.cleaned_gtfs.update_one({'_id': event['_id']}, 
                               {"$set": {"trip_number": trip_number}})