In [4]:
from bson.objectid import ObjectId
import pymongo
import os
from tqdm import tqdm
import numpy as np
import datetime
import pandas as pd


port = 27017
# todo: is there a way to keep the username and password out and use pycharm DB storage?
client = pymongo.MongoClient(f"mongodb://{os.getenv('MONGO_USER')}:{os.getenv('MONGO_PWD')}@localhost:{port}/gtfs?authSource=gtfs")
#client = pymongo.MongoClient(f"mongodb://localhost:27017/gtfs")
db = client.gtfs
start = datetime.datetime(2020, 1, 15, 0, 0, 0) 
end = start + datetime.timedelta(weeks=5)
db.routes.find_one()['name']


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.options.plotting.backend = "plotly"
pd.set_option('display.max_colwidth', -1)

<ipython-input-4-da617645dfff>:24: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [18]:
# id with lots of trips
problem_trip_id = "002500_1..N02X002"
results = db.cleaned_gtfs.find({"route": "1", "direction": "NORTH", "trip_id": problem_trip_id})

357

In [20]:
db.cleaned_gtfs.create_index([('train_id', pymongo.ASCENDING), ('trip_id', pymongo.ASCENDING), ('timestamp', pymongo.ASCENDING)])

'train_id_1_trip_id_1_timestamp_1'

In [22]:
stops = db.routes.find_one()['stop_names']
stops

['South Ferry',
 'Rector St',
 'WTC Cortlandt',
 'Chambers St',
 'Franklin St',
 'Canal St',
 'Houston St',
 'Christopher St - Sheridan Sq',
 '14 St',
 '18 St',
 '23 St',
 '28 St',
 '34 St - Penn Station',
 'Times Sq - 42 St',
 '50 St',
 '59 St - Columbus Circle',
 '66 St - Lincoln Center',
 '72 St',
 '79 St',
 '86 St',
 '96 St',
 '103 St',
 'Cathedral Pkwy',
 '116 St - Columbia University',
 '125 St',
 '137 St - City College',
 '145 St',
 '157 St',
 '168 St - Washington Hts',
 '181 St',
 '191 St',
 'Dyckman St',
 '207 St',
 '215 St',
 'Marble Hill - 225 St',
 '231 St',
 '238 St',
 'Van Cortlandt Park - 242 St']

In [26]:
results = db.trips.aggregate([{"$project": 
                                                  {"events.stop_name": True}}])
d = list(results)
d1 = [[l['stop_name'] for l in d2['events']] for d2 in d ]

ValueError: 'Central Park North (110 St)' is not in list

In [18]:
# example of a tri that starts at central park north and finishes in Harlem.
# so 1 headed north can have multiple different routes. We should exclude those?
#db.trips.find_one({"_id":ObjectId('5f0de2c4594aa2d68f707301')})

In [27]:
[(stops.index(m[0]), m[-1]) for m in d1]

ValueError: 'Central Park North (110 St)' is not in list

In [78]:
results = db.trips.aggregate([{"$project": {"count": {"$size": "$events"}}},
                              {"$sort": {"count": pymongo.ASCENDING}},
                               {"$limit": 10000}])

d = pd.DataFrame(list(results))

In [112]:
d['timestamp'][0]

Timestamp('2020-01-09 16:20:35')

In [120]:
end = weird['timestamp'][0] + pd.Timedelta(minutes=30)
start = end - pd.Timedelta(minutes=30)
(start, end)

(Timestamp('2020-02-20 17:04:54'), Timestamp('2020-02-20 17:34:54'))

In [102]:
# Two problems:
# 1. Potential sensor problem at south ferry. Not getting many readings.
# 2. The trip IDs change. Is the train ID more reliable?

Timestamp('2020-02-20 16:59:17')

In [118]:
# "trip_id": {"$in": ["10400_1..N03R","10400_1..N"]},
res = db.cleaned_gtfs.find({
        "direction": 'NORTH',
        "route": '1',
        "stop_name": "South Ferry",
        "timestamp": {"$lt": end, "$gte": start}
    }).sort([('timestamp', pymongo.ASCENDING)])
d = pd.DataFrame(list(res))
d[['timestamp', 'trip_id', "status", "train_id"]]

            timestamp         trip_id      status          train_id
0 2020-01-13 05:16:52  039850_1..N03R  STOPPED_AT  01 0638+ SFT/242

In [128]:
weird['timestamp'][0]

Timestamp('2020-02-20 17:04:54')

In [136]:
# "trip_id": {"$in": ["10400_1..N03R","10400_1..N"]},
end = weird['timestamp'][0] + pd.Timedelta(minutes=4)
start = end - pd.Timedelta(minutes=50)
(start, end)
res = db.cleaned_gtfs.find({
        "direction": 'NORTH',
        "route": '1',
        # the trip IDs can take multiple forms. I need a new algorithm for resconstructing the
        # trips.
        "trip_id": {"$in": ["104000_1..N03R","104000_1..N"]},
#        "stop_name": "125 St",
        "timestamp": {"$lt": end, "$gte": start}
    }).sort([('timestamp', pymongo.ASCENDING)])
d = pd.DataFrame(list(res))
d[['timestamp', 'stop_name', 'trip_id', 'train_id']]

,timestamp,stop_name,trip_id,train_id
0,2020-02-20 16:20:14,Rector St,104000_1..N03R,01 1720 SFT/242
1,2020-02-20 16:20:50,Rector St,104000_1..N03R,01 1720 SFT/242
2,2020-02-20 16:21:11,Rector St,104000_1..N03R,01 1720 SFT/242
3,2020-02-20 16:22:16,WTC Cortlandt,104000_1..N03R,01 1720 SFT/242
4,2020-02-20 16:22:24,WTC Cortlandt,104000_1..N03R,01 1720 SFT/242
5,2020-02-20 16:23:14,Chambers St,104000_1..N03R,01 1720 SFT/242
6,2020-02-20 16:23:45,Chambers St,104000_1..N03R,01 1720 SFT/242
7,2020-02-20 16:25:00,Franklin St,104000_1..N03R,01 1720 SFT/242
8,2020-02-20 16:25:20,Franklin St,104000_1..N03R,01 1720 SFT/242
9,2020-02-20 16:26:22,Canal St,104000_1..N03R,01 1720 SFT/242
10,2020-02-20 16:42:28,Times Sq - 42 St,104000_1..N03R,01 1720 SFT/242
11,2020-02-20 16:42:56,Times Sq - 42 St,104000_1..N03R,01 1720 SFT/242
12,2020-02-20 16:45:00,50 St,104000_1..N03R,01 1720 SFT/242
13,2020-02-20 16:45:16,50 St,104000_1..N03R,01 1720 SFT/242
14,2020-02-20 16:45:51,50 St,104000_1..N03R,01 1720 SFT/242
15,2020-02-20 16:46:03,50 St,104000_1..N03R,01 1720 SFT/242
16,2020-02-20 16:47:06,59 St - Columbus Circle,104000_1..N03R,01 1720 SFT/242
17,2020-02-20 16:48:01,59 St - Columbus Circle,104000_1..N03R,01 1720 SFT/242
18,2020-02-20 16:49:03,66 St - Lincoln Center,104000_1..N03R,01 1720 SFT/242
19,2020-02-20 16:49:39,66 St - Lincoln Center,104000_1..N03R,01 1720 SFT/242
20,2020-02-20 16:50:55,72 St,104000_1..N03R,01 1720 SFT/242
21,2020-02-20 16:51:21,72 St,104000_1..N03R,01 1720 SFT/242
22,2020-02-20 16:52:45,79 St,104000_1..N03R,01 1720 SFT/242
23,2020-02-20 16:53:26,79 St,104000_1..N03R,01 1720 SFT/242
24,2020-02-20 16:54:19,86 St,104000_1..N03R,01 1720 SFT/242
25,2020-02-20 16:54:58,86 St,104000_1..N03R,01 1720 SFT/242
26,2020-02-20 16:55:51,96 St,104000_1..N03R,01 1720 SFT/242
27,2020-02-20 16:56:21,96 St,104000_1..N03R,01 1720 SFT/242
28,2020-02-20 16:56:37,96 St,104000_1..N03R,01 1720 SFT/242
29,2020-02-20 16:57:46,103 St,104000_1..N03R,01 1720 SFT/242
30,2020-02-20 16:58:22,103 St,104000_1..N03R,01 1720 SFT/242
31,2020-02-20 16:58:27,103 St,104000_1..N03R,01 1720 SFT/242
32,2020-02-20 16:59:17,Cathedral Pkwy,104000_1..N03R,01 1720 SFT/242
33,2020-02-20 16:59:51,Cathedral Pkwy,104000_1..N03R,01 1720 SFT/242
34,2020-02-20 17:00:49,116 St - Columbia University,104000_1..N03R,01 1720 SFT/242
35,2020-02-20 17:01:08,116 St - Columbia University,104000_1..N03R,01 1720 SFT/242
36,2020-02-20 17:02:15,125 St,104000_1..N03R,01 1720 SFT/242
37,2020-02-20 17:02:49,125 St,104000_1..N03R,01 1720 SFT/242
38,2020-02-20 17:03:48,137 St - City College,104000_1..N03R,01 1720 SFT/242
39,2020-02-20 17:04:18,137 St - City College,104000_1..N03R,01 1720 SFT/242
40,2020-02-20 17:04:54,137 St - City College,104000_1..N,/1 1720 SFT/242
41,2020-02-20 17:04:54,137 St - City College,104000_1..N03R,/1 1720 SFT/242
42,2020-02-20 17:05:59,168 St - Washington Hts,104000_1..N,/1 1720 SFT/242
43,2020-02-20 17:06:30,168 St - Washington Hts,104000_1..N,/1 1720 SFT/242

In [114]:
d['timestamp'][0]

Timestamp('2020-01-09 16:20:35')

In [94]:
# "trip_id": {"$in": ["10400_1..N03R","10400_1..N"]},
res = db.cleaned_gtfs.find({
        "direction": 'NORTH',
        "route": '1',
        "stop_name": "137 St - City College",
        "timestamp": {"$lt": end, "$gte": start}
    }).sort([('timestamp', pymongo.ASCENDING)])
d = pd.DataFrame(list(res))
d[['stop_name', 'timestamp', 'trip_id', "status"]]

                stop_name           timestamp         trip_id         status
0   137 St - City College 2020-02-20 17:00:15  103600_1..N     IN_TRANSIT_TO
1   137 St - City College 2020-02-20 17:00:48  103600_1..N     STOPPED_AT
2   137 St - City College 2020-02-20 17:03:48  104000_1..N03R  IN_TRANSIT_TO
3   137 St - City College 2020-02-20 17:04:18  104000_1..N03R  INCOMING_AT
4   137 St - City College 2020-02-20 17:04:54  104000_1..N03R  STOPPED_AT
5   137 St - City College 2020-02-20 17:04:54  104000_1..N     STOPPED_AT
6   137 St - City College 2020-02-20 17:05:29  104400_1..N03R  IN_TRANSIT_TO
7   137 St - City College 2020-02-20 17:05:53  104400_1..N03R  IN_TRANSIT_TO
8   137 St - City College 2020-02-20 17:06:25  104400_1..N03R  INCOMING_AT
9   137 St - City College 2020-02-20 17:06:52  104400_1..N03R  STOPPED_AT
10  137 St - City College 2020-02-20 17:07:54  104800_1..N03R  IN_TRANSIT_TO
11  137 St - City College 2020-02-20 17:08:24  104800_1..N03R  IN_TRANSIT_TO

In [ ]:
d.set_index('_id', inplace=True)
fives = d[d['count'] == 30]

weird = pd.DataFrame.from_records(db.trips.find_one({"_id": fives.index[1] })['events'])
weird[['stop_name', 'timestamp', 'trip_id']]

In [89]:
weird[['stop_name', 'timestamp', 'trip_id', 'status']]

,stop_name,timestamp,trip_id,status
0,137 St - City College,2020-02-20 17:04:54,104000_1..N,STOPPED_AT
1,168 St - Washington Hts,2020-02-20 17:05:59,104000_1..N,IN_TRANSIT_TO
2,168 St - Washington Hts,2020-02-20 17:06:30,104000_1..N,IN_TRANSIT_TO
3,168 St - Washington Hts,2020-02-20 17:08:59,104000_1..N,INCOMING_AT
4,168 St - Washington Hts,2020-02-20 17:09:18,104000_1..N,STOPPED_AT
5,181 St,2020-02-20 17:09:59,104000_1..N,IN_TRANSIT_TO
6,181 St,2020-02-20 17:10:27,104000_1..N,IN_TRANSIT_TO
7,181 St,2020-02-20 17:11:01,104000_1..N,INCOMING_AT
8,181 St,2020-02-20 17:11:04,104000_1..N,STOPPED_AT
9,191 St,2020-02-20 17:12:00,104000_1..N,IN_TRANSIT_TO
10,191 St,2020-02-20 17:12:33,104000_1..N,STOPPED_AT
11,Dyckman St,2020-02-20 17:13:17,104000_1..N,IN_TRANSIT_TO
12,Dyckman St,2020-02-20 17:13:44,104000_1..N,IN_TRANSIT_TO
13,Dyckman St,2020-02-20 17:13:58,104000_1..N,STOPPED_AT
14,207 St,2020-02-20 17:14:51,104000_1..N,IN_TRANSIT_TO
15,207 St,2020-02-20 17:15:19,104000_1..N,IN_TRANSIT_TO
16,207 St,2020-02-20 17:15:32,104000_1..N,STOPPED_AT
17,215 St,2020-02-20 17:16:22,104000_1..N,IN_TRANSIT_TO
18,215 St,2020-02-20 17:16:47,104000_1..N,IN_TRANSIT_TO
19,215 St,2020-02-20 17:17:17,104000_1..N,STOPPED_AT
20,Marble Hill - 225 St,2020-02-20 17:18:15,104000_1..N,IN_TRANSIT_TO
21,Marble Hill - 225 St,2020-02-20 17:18:43,104000_1..N,INCOMING_AT
22,Marble Hill - 225 St,2020-02-20 17:18:53,104000_1..N,STOPPED_AT
23,231 St,2020-02-20 17:20:00,104000_1..N,INCOMING_AT
24,231 St,2020-02-20 17:20:14,104000_1..N,STOPPED_AT
25,238 St,2020-02-20 17:21:31,104000_1..N,INCOMING_AT
26,238 St,2020-02-20 17:21:46,104000_1..N,STOPPED_AT
27,Van Cortlandt Park - 242 St,2020-02-20 17:22:47,104000_1..N,IN_TRANSIT_TO
28,Van Cortlandt Park - 242 St,2020-02-20 17:24:44,104000_1..N,IN_TRANSIT_TO
29,Van Cortlandt Park - 242 St,2020-02-20 17:25:14,104000_1..N,STOPPED_AT

In [79]:
weird['timestamp'][0]

Timestamp('2020-02-20 17:04:54')

In [73]:
results = db.cleaned_gtfs.find({'route': '1', 'direction': 'NORTH', 'trip_id': weird.trip_id[0]})\
    .sort([('train_id', pymongo.ASCENDING), ('trip_id', pymongo.ASCENDING), ('timestamp', pymongo.ASCENDING)])
d = pd.DataFrame(list(results))
d[['stop_name', 'timestamp', 'train_id']]

                        stop_name           timestamp          train_id
0    207 St                       2020-01-16 17:17:02  /1 1720  SFT/242
1    207 St                       2020-01-16 17:17:39  /1 1720  SFT/242
2    137 St - City College        2020-02-20 17:04:54  /1 1720  SFT/242
3    168 St - Washington Hts      2020-02-20 17:05:59  /1 1720  SFT/242
4    168 St - Washington Hts      2020-02-20 17:06:30  /1 1720  SFT/242
5    168 St - Washington Hts      2020-02-20 17:08:59  /1 1720  SFT/242
6    168 St - Washington Hts      2020-02-20 17:09:18  /1 1720  SFT/242
7    181 St                       2020-02-20 17:09:59  /1 1720  SFT/242
8    181 St                       2020-02-20 17:10:27  /1 1720  SFT/242
9    181 St                       2020-02-20 17:11:01  /1 1720  SFT/242
10   181 St                       2020-02-20 17:11:04  /1 1720  SFT/242
11   191 St                       2020-02-20 17:12:00  /1 1720  SFT/242
12   191 St                       2020-02-20 17:12:33  /1 1720  SFT/242
13   Dyckman St                   2020-02-20 17:13:17  /1 1720  SFT/242
14   Dyckman St                   2020-02-20 17:13:44  /1 1720  SFT/242
15   Dyckman St                   2020-02-20 17:13:58  /1 1720  SFT/242
16   207 St                       2020-02-20 17:14:51  /1 1720  SFT/242
17   207 St                       2020-02-20 17:15:19  /1 1720  SFT/242
18   207 St                       2020-02-20 17:15:32  /1 1720  SFT/242
19   215 St                       2020-02-20 17:16:22  /1 1720  SFT/242
20   215 St                       2020-02-20 17:16:47  /1 1720  SFT/242
21   215 St                       2020-02-20 17:17:17  /1 1720  SFT/242
22   Marble Hill - 225 St         2020-02-20 17:18:15  /1 1720  SFT/242
23   Marble Hill - 225 St         2020-02-20 17:18:43  /1 1720  SFT/242
24   Marble Hill - 225 St         2020-02-20 17:18:53  /1 1720  SFT/242
25   231 St                       2020-02-20 17:20:00  /1 1720  SFT/242
26   231 St                       2020-02-20 17:20:14  /1 1720  SFT/242
27   238 St                       2020-02-20 17:21:31  /1 1720  SFT/242
28   238 St                       2020-02-20 17:21:46  /1 1720  SFT/242
29   Van Cortlandt Park - 242 St  2020-02-20 17:22:47  /1 1720  SFT/242
30   Van Cortlandt Park - 242 St  2020-02-20 17:24:44  /1 1720  SFT/242
31   Van Cortlandt Park - 242 St  2020-02-20 17:25:14  /1 1720  SFT/242
32   Chambers St                  2020-02-06 16:26:27  =1 1720  SFT/242
33   Chambers St                  2020-02-06 16:26:38  =1 1720  SFT/242
34   14 St                        2020-02-06 16:28:12  =1 1720  SFT/242
35   14 St                        2020-02-06 16:28:21  =1 1720  SFT/242
36   14 St                        2020-02-06 16:33:28  =1 1720  SFT/242
37   14 St                        2020-02-06 16:33:57  =1 1720  SFT/242
38   18 St                        2020-02-06 16:35:28  E1 1720  SFT/242
39   23 St                        2020-02-06 16:36:58  E1 1720  SFT/242
40   28 St                        2020-02-06 16:38:05  E1 1720  SFT/242
41   28 St                        2020-02-06 16:38:36  E1 1720  SFT/242
42   28 St                        2020-02-06 16:39:33  E1 1720  SFT/242
43   34 St - Penn Station         2020-02-06 16:40:24  E1 1720  SFT/242
44   34 St - Penn Station         2020-02-06 16:41:03  E1 1720  SFT/242
45   34 St - Penn Station         2020-02-06 16:41:16  E1 1720  SFT/242
46   Times Sq - 42 St             2020-02-06 16:42:43  E1 1720  SFT/242
47   Times Sq - 42 St             2020-02-06 16:42:51  E1 1720  SFT/242
48   Times Sq - 42 St             2020-02-06 16:43:30  E1 1720  SFT/242
49   Times Sq - 42 St             2020-02-06 16:44:08  E1 1720  SFT/242
50   Times Sq - 42 St             2020-02-06 16:44:18  E1 1720  SFT/242
51   50 St                        2020-02-06 16:45:43  E1 1720  SFT/242
52   50 St                        2020-02-06 16:46:08  E1 1720  SFT/242
53   50 St                        2020-02-06 16:46:42  E1 1720  SFT/242
54   50 St                        2020-02-06 16:47:02  E1 1720  SFT/242
55   59 St - Columbus Circle      2020-02-06 16:48:06  E1 1720  SFT/242
56   59 St - Columbus Circle      2020-02-06 16:48:44  E1 1720  SFT/242
57   Cathedral Pkwy               2020-02-06 17:04:50  E1 1720  SFT/242
58   Cathedral Pkwy               2020-02-06 17:05:18  E1 1720  SFT/242
59   116 St - Columbia University 2020-02-06 17:05:59  E1 1720  SFT/242
60   116 St - Columbia University 2020-02-06 17:06:27  E1 1720  SFT/242
61   116 St - Columbia University 2020-02-06 17:06:42  E1 1720  SFT/242
62   125 St                       2020-02-06 17:07:40  E1 1720  SFT/242
63   125 St                       2020-02-06 17:08:12  E1 1720  SFT/242
64   125 St                       2020-02-06 17:08:37  E1 1720  SFT/242
65   137 St - City College        2020-02-06 17:09:18  E1 1720  SFT/242
66   137 St - City College        2020-02-06 17:09:48  E1 1720  SFT/242
67   137 St - City College        2020-02-06 17:10:17  E1 1720  SFT/242
68   137 St - City College        2020-02-06 17:10:29  E1 1720  SFT/242
69   145 St                       2020-02-06 17:11:21  E1 1720  SFT/242
70   145 St                       2020-02-06 17:11:54  E1 1720  SFT/242
71   157 St                       2020-02-06 17:12:52  E1 1720  SFT/242
72   157 St                       2020-02-06 17:13:21  E1 1720  SFT/242
73   157 St                       2020-02-06 17:13:48  E1 1720  SFT/242
74   168 St - Washington Hts      2020-02-06 17:14:40  E1 1720  SFT/242
75   168 St - Washington Hts      2020-02-06 17:15:17  E1 1720  SFT/242
76   168 St - Washington Hts      2020-02-06 17:15:39  E1 1720  SFT/242
77   181 St                       2020-02-06 17:16:25  E1 1720  SFT/242
78   181 St                       2020-02-06 17:17:11  E1 1720  SFT/242
79   181 St                       2020-02-06 17:17:32  E1 1720  SFT/242
80   191 St                       2020-02-06 17:18:34  E1 1720  SFT/242
81   191 St                       2020-02-06 17:19:06  E1 1720  SFT/242
82   Dyckman St                   2020-02-06 17:20:10  E1 1720  SFT/242
83   Dyckman St                   2020-02-06 17:20:33  E1 1720  SFT/242
84   207 St                       2020-02-06 17:21:31  E1 1720  SFT/242
85   207 St                       2020-02-06 17:22:12  E1 1720  SFT/242
86   215 St                       2020-02-06 17:22:56  E1 1720  SFT/242
87   215 St                       2020-02-06 17:23:42  E1 1720  SFT/242
88   215 St                       2020-02-06 17:23:48  E1 1720  SFT/242
89   Marble Hill - 225 St         2020-02-06 17:24:39  E1 1720  SFT/242
90   Marble Hill - 225 St         2020-02-06 17:25:07  E1 1720  SFT/242
91   Marble Hill - 225 St         2020-02-06 17:25:20  E1 1720  SFT/242
92   231 St                       2020-02-06 17:26:37  E1 1720  SFT/242
93   231 St                       2020-02-06 17:27:07  E1 1720  SFT/242
94   238 St                       2020-02-06 17:28:28  E1 1720  SFT/242
95   238 St                       2020-02-06 17:28:57  E1 1720  SFT/242
96   238 St                       2020-02-06 17:29:11  E1 1720  SFT/242
97   Van Cortlandt Park - 242 St  2020-02-06 17:30:56  E1 1720  SFT/242
98   Van Cortlandt Park - 242 St  2020-02-06 17:31:10  E1 1720  SFT/242
99   Van Cortlandt Park - 242 St  2020-02-06 17:33:28  E1 1720  SFT/242
100  Van Cortlandt Park - 242 St  2020-02-06 17:33:57  E1 1720  SFT/242
101  Van Cortlandt Park - 242 St  2020-02-06 17:34:01  E1 1720  SFT/242

In [64]:
res = pd.DataFrame.from_records(db.trips.find_one({"_id": d.loc[32, '_id']})['events'])

_id          5ec86147f529ba6a60f46c03
train_id     01 0112  SFT/242
status       STOPPED_AT
timestamp    2020-03-15 00:37:01
stop_name    66 St - Lincoln Center
trip_id      007200_1..N
Name: 61, dtype: object

In [51]:
db.routes.find_one()['stop_names']

['South Ferry',
 'Rector St',
 'WTC Cortlandt',
 'Chambers St',
 'Franklin St',
 'Canal St',
 'Houston St',
 'Christopher St - Sheridan Sq',
 '14 St',
 '18 St',
 '23 St',
 '28 St',
 '34 St - Penn Station',
 'Times Sq - 42 St',
 '50 St',
 '59 St - Columbus Circle',
 '66 St - Lincoln Center',
 '72 St',
 '79 St',
 '86 St',
 '96 St',
 '103 St',
 'Cathedral Pkwy',
 '116 St - Columbia University',
 '125 St',
 '137 St - City College',
 '145 St',
 '157 St',
 '168 St - Washington Hts',
 '181 St',
 '191 St',
 'Dyckman St',
 '207 St',
 '215 St',
 'Marble Hill - 225 St',
 '231 St',
 '238 St',
 'Van Cortlandt Park - 242 St']

In [9]:
results = db.trips.find({}).limit(20)
d = list(results)

In [10]:
pd.Series([len(d1['events']) for d1 in d]).value_counts()

15    9
16    5
1     2
62    1
13    1
5     1
2     1
dtype: int64

In [26]:
# how many have at least 10 stops?
db.trips.count_documents({"events.93": {"$exists": False}})

699

In [23]:
#results = list(db.trips.find({"trip_id": "003850_1..N02X002"}))
#pd.DataFrame.from_records([m for d in results for m in d['events']])

In [22]:
#pd.DataFrame.from_records(db.trips.find_one({"events.70": {"$exists": True}})['events']).shape