In [13]:
import pymongo
import os
import datetime
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
port = 27017
# todo: is there a way to keep the username and password out and use pycharm DB storage?
client = pymongo.MongoClient(f"mongodb://{os.getenv('MONGO_USER')}:{os.getenv('MONGO_PWD')}@localhost:{port}/gtfs?authSource=gtfs")
#client = pymongo.MongoClient(f"mongodb://localhost:27017/gtfs")
db = client.gtfs
pd.options.plotting.backend = "plotly"
db.routes.find_one()['name']

'1'

In [23]:
penn_station = pd.DataFrame(db.penn_station.find({})).drop('_id', axis=1)
penn_station.set_index('timestamp', inplace=True)

In [26]:
penn_station.to_pickle('penn_station.pkl')

                     train_id
timestamp
2020-01-09 16:00:00         2
2020-01-09 16:20:00         5
2020-01-09 16:40:00         6
2020-01-09 17:00:00         5
2020-01-09 17:20:00         5
...                       ...
2020-03-16 13:20:00         1
2020-03-16 13:40:00         3
2020-03-16 14:00:00         3
2020-03-16 14:20:00         3
2020-03-16 14:40:00         3

[4821 rows x 1 columns]

In [114]:
# stuff for grouping by. to bad resample isn't more flexible?
# I feel we should be able to do all of this in resample
penn_station['day'] = penn_station.index.floor('d')
penn_station['day_of_week'] = penn_station.index.dayofweek
penn_station['windows'] = penn_station.index.floor('30T') - penn_station['day']

In [115]:
day_counts = penn_station.groupby(['day_of_week', 'day'])\
              .count().groupby(level=0).count()['train_id']
day_counts

day_of_week
0    10
1     9
2     9
3    10
4    10
5    10
6    10
Name: train_id, dtype: int64

In [149]:
samples = penn_station.groupby(['day_of_week', 'windows', 'day'])\
              .count()

In [139]:
denoms = penn_station.groupby(['day_of_week', 'windows', 'day'])\
              .count().groupby(['day_of_week', 'windows']).count()
denoms

                      train_id
day_of_week windows
0           00:00:00        10
            00:30:00        10
            01:00:00        10
            01:30:00        10
            02:00:00        10
...                        ...
6           21:30:00        10
            22:00:00        10
            22:30:00        10
            23:00:00        10
            23:30:00        10

[336 rows x 1 columns]

In [150]:
grouped = penn_station.groupby(['day_of_week', 'windows'])\
              .count().drop('day',axis=1)
grouped

                      train_id
day_of_week windows
0           00:00:00        21
            00:30:00        15
            01:00:00        18
            01:30:00        12
            02:00:00        18
...                        ...
6           21:30:00        31
            22:00:00        29
            22:30:00        21
            23:00:00        26
            23:30:00        18

[336 rows x 1 columns]

In [152]:
means = (grouped / denoms)
means.loc[0]

          train_id
windows
00:00:00  2.100000
00:30:00  1.500000
01:00:00  1.800000
01:30:00  1.200000
02:00:00  1.800000
02:30:00  1.200000
03:00:00  1.900000
03:30:00  1.000000
04:00:00  2.100000
04:30:00  1.000000
05:00:00  2.700000
05:30:00  3.000000
06:00:00  3.555556
06:30:00  4.400000
07:00:00  5.000000
07:30:00  6.600000
08:00:00  8.000000
08:30:00  7.000000
09:00:00  5.000000
09:30:00  4.600000
10:00:00  4.900000
10:30:00  5.000000
11:00:00  4.300000
11:30:00  4.200000
12:00:00  4.600000
12:30:00  3.900000
13:00:00  4.100000
13:30:00  4.200000
14:00:00  3.700000
14:30:00  5.000000
15:00:00  4.888889
15:30:00  4.555556
16:00:00  5.555556
16:30:00  6.444444
17:00:00  5.777778
17:30:00  6.888889
18:00:00  5.777778
18:30:00  5.222222
19:00:00  6.000000
19:30:00  6.444444
20:00:00  4.777778
20:30:00  4.444444
21:00:00  3.666667
21:30:00  3.555556
22:00:00  3.111111
22:30:00  3.111111
23:00:00  2.888889
23:30:00  2.222222

In [157]:
samples

                                 train_id
day_of_week windows  day
0           00:00:00 2020-01-13         2
                     2020-01-20         3
                     2020-01-27         2
                     2020-02-03         2
                     2020-02-10         1
...                                   ...
6           23:30:00 2020-02-16         2
                     2020-02-23         1
                     2020-03-01         2
                     2020-03-08         1
                     2020-03-15         2

[3150 rows x 1 columns]

In [178]:
variances = (((samples - means)**2).sum(level=[0, 1])/(denoms - 1))

In [204]:
means['var'] = variances
data = means.reset_index(drop=['day_of_week', 'windows'])
data = data.rename(columns={'var': "variance", "train_id": "mean"})
fig = px.scatter(data, x='mean', y='variance')

fig.add_scatter(x=np.arange(10), y=np.arange(10), mode="lines",
                line=dict(color='green', dash='dash'))

fig.add_scatter(x=np.arange(10), y=1.96*np.sqrt(np.arange(10)/10) + np.arange(10), mode="lines",
                line=dict(color='green', dash='dash'))

fig.add_scatter(x=np.arange(10), y=-1.96*np.sqrt(np.arange(10)/10) + np.arange(10), mode="lines",
                line=dict(color='green', dash='dash'))

fig.write_html('poisson_scatter.html', auto_open=True)

array([ 0.        ,  1.61980642,  2.87653865,  4.07353621,  5.23961284,
        6.38592929,  7.51820947,  8.63985365,  9.75307729, 10.85941926])

In [ ]:
denoms - 1

In [ ]:
start = pd.to_datetime('2020-01-09')
px.line(penn_station.resample('90T').count()[start:(start + pd.Timedelta(weeks=2))],).update_layout(xaxis_tickformat='%a')\
    .write_html('penn_station_counts.html', auto_open=True)

In [ ]:
penn_station.resample('90T')

In [16]:
pd.read_csv('stop_names.csv')

    Unnamed: 0  stop_index                     stop_name
0            0           0                   South Ferry
1            1           1                     Rector St
2            2           2                 WTC Cortlandt
3            3           3                   Chambers St
4            4           4                   Franklin St
5            5           5                      Canal St
6            6           6                    Houston St
7            7           7  Christopher St - Sheridan Sq
8            8           8                         14 St
9            9           9                         18 St
10          10          10                         23 St
11          11          11                         28 St
12          12          12          34 St - Penn Station
13          13          13              Times Sq - 42 St
14          14          14                         50 St
15          15          15       59 St - Columbus Circle
16          16          16        66 St - Lincoln Center
17          17          17                         72 St
18          18          18                         79 St
19          19          19                         86 St
20          20          20                         96 St
21          21          21                        103 St
22          22          22                Cathedral Pkwy
23          23          23  116 St - Columbia University
24          24          24                        125 St
25          25          25         137 St - City College
26          26          26                        145 St
27          27          27                        157 St
28          28          28       168 St - Washington Hts
29          29          29                        181 St
30          30          30                        191 St
31          31          31                    Dyckman St
32          32          32                        207 St
33          33          33                        215 St
34          34          34          Marble Hill - 225 St
35          35          35                        231 St
36          36          36                        238 St
37          37          37   Van Cortlandt Park - 242 St